.container {
  width: 280px;
  border-left: 1px solid #ccc;

  .members {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      font-size: 13px;
      font-weight: 500;
      display: flex;
      align-items: center;

      .presence {
        width: 5px;
        height: 26px;
        &.online {
          background: #388e3c;
        }
        &.away {
          background: #f0ad4e;
        }
        &.offline {
          background: lightgray;
        }
      }

      .username {
        padding-left: 5px;
      }
    }
  }
}
