.container {
  display: flex;
  height: calc(100% - 40px);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.composer {
  > input {
    padding: 5px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    &:focus {
      border-top-color: var(--primary-color);
    }
  }
  > button {
    width: 60px;
    border: 1px solid #ccc;
    &:focus {
      border: 1px solid var(--primary-color);
    }
    &:active {
      opacity: 0.7;
    }
  }
}
