@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply h-full;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
}