@import '../../content/components/anchor.module.scss';
@import '../../content/components/button.module.scss';
@import '../../content/components/form.module.scss';
@import '../../content/components/input.module.scss';

.register {
  width: 280px;
}

.wrapper {
  margin-top: 5px;
  span {
    color: #333;
  }
}
