@import '../content/components/page.module.scss';

.header {
  height: 40px;
  border-bottom: 1px solid #ccc;

  nav {
    display: flex;
    > a {
      padding: 10px;
      &.lobby {
        color: var(--primary-text-color);
      }
      &.room {
        color: var(--primary-text-color);
      }
    }
  }
}
