.container {
  display: flex;
  cursor: pointer;
  padding: 20px 0px;
  background: #fff;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.name {
  font-size: 14px;
  font-weight: 600;
  max-width: 180px;
}

.users {
  font-size: 14px;
}
