.field {
  margin-bottom: 10px;
  label {
    color: #333;
    font-size: 10px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    text-transform: uppercase;
    &:first-child {
      margin-top: 0px;
    }
  }
  input {
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    &:focus {
      border-color: var(--primary-color);
    }
    &.invalid {
      border-color: red;
    }
  }
}
